/*
** RESET
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
.dl, dt, dd, ol, ul, li,
.fieldset, form, label, legend,
.table, caption, tbody, tfoot, thead, tr, th, td,
.article, aside, canvas, details, figcaption, figure,
.footer, header, hgroup, menu, nav, section, summary,
.time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}

a, a:link, a:hover, a:active, a:visited { color: inherit; text-decoration: none; }

/*
** MAIN
*/
body { width:100%; height:100%; background:#333; font-family: 'Ubuntu Mono', sans-serif; }

form { width:700px; margin: auto; padding: 15px; }

nav,header,footer { 
	width:100%; height:auto; padding:20px 0 0 0; margin:0 0 1px 0; 
	text-align:center; background:#454545; border-bottom:1px solid #555; 
	-webkit-box-shadow: 1px 1px 1px #222;
	-moz-box-shadow: 1px 1px 1px #222;
	-o-box-shadow: 1px 1px 1px #222;
	-ms-box-shadow: 1px 1px 1px #222;
	box-shadow: 1px 1px 1px #222;
}


header h1, header em {
	color:#222; font-size:3em;
	text-shadow: -1px 1px 0px #666;
}

header em {
	display: block; font-weight:normal; 
	padding: 10px 0 -5px 0; font-size:1.2em;
}

#scrollDown {
	width:50px; height:50px; background:url('../app-img/images.png') no-repeat center top;
	margin: auto; display: block;
	position: relative;
	z-index:10;
	top:25px;
}

#scrollUp {
	width:50px; height:50px; background:url('../app-img/map.png') no-repeat center top;
	margin: auto; display: block;
	position: relative;
	z-index:10;
	top:-45px;
}

nav { border-bottom:1px solid #555; border-top:1px solid #555; padding:0; margin: 1px 0 10px 0;}

#map { width: 100%; height: 600px; }
	
	#zoomControl {
		color: #999;
		margin: 25px 0 0 25px;
	}

		#zoomControlInc {
			width: 20px; height: 20px;
			line-height: 20px;
			text-align: center;
			background-color: #454545;
			border-top: 1px solid #eee;
			border-right: 1px solid #eee;
			border-left: 1px solid #eee;
			-webkit-border-top-left-radius: 3px;
			-webkit-border-top-right-radius: 3px;
			-moz-border-radius-topleft: 3px;
			-moz-border-radius-topright: 3px;
			border-top-left-radius: 3px;
			border-top-right-radius: 3px;
			-webkit-transition: all .2s ease-in-out;
			   -moz-transition: all .2s ease-in-out;
			     -o-transition: all .2s ease-in-out;
			    -ms-transition: all .2s ease-in-out;
			        transition: all .2s ease-in-out;
		}

			#zoomControlInc:hover, #zoomControlDec:hover {
				cursor: pointer;
				color: #eee;
			}

		#zoomControlDec {
			width: 20px; height: 20px;
			line-height: 20px;
			text-align: center;
			background-color: #454545;
			border-right: 1px solid #eee;
			border-bottom: 1px solid #eee;
			border-left: 1px solid #eee;
			-webkit-border-bottom-right-radius: 3px;
			-webkit-border-bottom-left-radius: 3px;
			-moz-border-radius-bottomright: 3px;
			-moz-border-radius-bottomleft: 3px;
			border-bottom-right-radius: 3px;
			border-bottom-left-radius: 3px;
			-webkit-transition: all .2s ease-in-out;
			   -moz-transition: all .2s ease-in-out;
			     -o-transition: all .2s ease-in-out;
			    -ms-transition: all .2s ease-in-out;
			        transition: all .2s ease-in-out;
		}

	nav #hashs { 
		height:25px; width:300px; font-size:20px;
		border: 0; padding: 10px; float:left;
		border-bottom:1px solid #666; background:#222;
		-webkit-box-shadow:inset 1px 1px 1px #222;
		-moz-box-shadow:inset 1px 1px 1px #222;
		-o-box-shadow:inset 1px 1px 1px #222;
		-ms-box-shadow:inset 1px 1px 1px #222;
		box-shadow:inset 1px 1px 1px #222;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		-o-border-radius: 10px;
		-ms-border-radius: 10px;
		border-radius: 10px;
		color:#999; margin:10px 0 0 0;
	}

.radio, #instagram, #twimg, #yfrog { 
	width:15px; height:15px; 
	border-radius:25px; border:10px solid #333; 
	margin:auto;
	-webkit-box-shadow:inset 0px 0px 3px #111;
	-moz-box-shadow:inset 0px 0px 3px #111;
	-o-box-shadow:inset 0px 0px 3px #111;
	-ms-box-shadow:inset 0px 0px 3px #111;
	box-shadow:inset 0px 0px 3px #111;

	-webkit-box-shadow: 0px 0px 1px #666;
	-moz-box-shadow: 0px 0px 1px #666;
	-o-box-shadow: 0px 0px 1px #666;
	-ms-box-shadow: 0px 0px 1px #666;
	box-shadow: 0px 0px 1px #666;

	-webkit-transition: all .2s ease-in-out;
	   -moz-transition: all .2s ease-in-out;
	     -o-transition: all .2s ease-in-out;
	    -ms-transition: all .2s ease-in-out;
	        transition: all .2s ease-in-out;
	    
}

.radio:hover, .radio:active, .radio:focus {
	cursor:pointer;
}

#instagram:hover, #instagram:active, #instagram:focus {
	border:10px solid #03266b; 
}

.instagram {
	border:10px solid #03266b; 
}

#twimg:hover, #twimg:active, #twimg:focus {
	border:10px solid #3c6fd2; 
}

.twimg {
	border:10px solid #3c6fd2; 
}

#yfrog:hover, #yfrog:active, #yfrog:focus {
	border:10px solid #6489d2; 
}

.yfrog {
	border:10px solid #6489d2; 
}

#foursquare:hover, #foursquare:active, #foursquare:focus {
	border:10px solid #083da5; 
}


#main { text-align:center; }

#loader { 
	width:100px;
	height:100px;
	margin:auto;
	background:url('../app-img/loader.gif');
}

#main img {
	border:8px solid #555; width:350px; margin:5px; 
	-webkit-box-shadow: 3px 3px 1px #222;
	-moz-box-shadow: 3px 3px 1px #222;
	-o-box-shadow: 3px 3px 1px #222;
	-ms-box-shadow: 3px 3px 1px #222;
	box-shadow: 3px 3px 1px #222;
}

ul { float:right; }
ul li { list-style:none; display:inline-block; padding:5px 25px 5px 10px;  }
ul li span { display:block; margin:5px 0 0 0;}

footer {
	display: none; 
	border-bottom: 0; height:25px;
	margin: 30px 0 0 0;
	-webkit-box-shadow: -1px -1px 1px #222;
	-moz-box-shadow: -1px -1px 1px #222;
	-o-box-shadow: -1px -1px 1px #222;
	-ms-box-shadow: -1px -1px 1px #222;
	box-shadow: -1px -1px 1px #222;
}