/*
** RESET
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
.dl, dt, dd, ol, ul, li,
.fieldset, form, label, legend,
.table, caption, tbody, tfoot, thead, tr, th, td,
.article, aside, canvas, details, figcaption, figure,
.footer, header, hgroup, menu, nav, section, summary,
.time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}

a, a:link, a:hover, a:active, a:visited { color: inherit; text-decoration: none; }

/*
** MAIN
*/
body { width:100%; height:100%; background:#333; font-family: 'Ubuntu Mono', sans-serif; }

form { width:700px; margin: auto; padding: 15px; }

nav,header { 
	width:100%; height:auto; padding:20px 0 0 0; margin:0 0 1px 0; 
	text-align:center; background:#454545; border-bottom:1px solid #555; 
	-webkit-box-shadow: 1px 1px 1px #222;
	-moz-box-shadow: 1px 1px 1px #222;
	-o-box-shadow: 1px 1px 1px #222;
	-ms-box-shadow: 1px 1px 1px #222;
	box-shadow: 1px 1px 1px #222;
}


header h1, header em {
	color:#222; font-size:3em;
	text-shadow: -1px 1px 0px #666;
}

header em {
	display: block; font-weight:normal; 
	padding: 10px 0 20px 0; font-size:1.2em;
}

nav { border-bottom:1px solid #555; border-top:1px solid #555; padding:0; margin: 1px 0 10px 0;}

#map { width: 100%; height: 600px; }


	nav #hashs { 
		height:25px; width:300px; font-size:20px;
		border: 0; padding: 10px; float:right;
		border-bottom:1px solid #666; background:#222;
		-webkit-box-shadow:inset 1px 1px 1px #222;
		-moz-box-shadow:inset 1px 1px 1px #222;
		-o-box-shadow:inset 1px 1px 1px #222;
		-ms-box-shadow:inset 1px 1px 1px #222;
		box-shadow:inset 1px 1px 1px #222;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		-o-border-radius: 10px;
		-ms-border-radius: 10px;
		border-radius: 10px;
		color:#999;
	}

.radio { 
	width:15px; height:15px; 
	border-radius:25px; border:10px solid #333; 
	margin:auto;
	-webkit-box-shadow:inset 0px 0px 3px #111;
	-moz-box-shadow:inset 0px 0px 3px #111;
	-o-box-shadow:inset 0px 0px 3px #111;
	-ms-box-shadow:inset 0px 0px 3px #111;
	box-shadow:inset 0px 0px 3px #111;

	-webkit-box-shadow: 0px 0px 1px #666;
	-moz-box-shadow: 0px 0px 1px #666;
	-o-box-shadow: 0px 0px 1px #666;
	-ms-box-shadow: 0px 0px 1px #666;
	box-shadow: 0px 0px 1px #666; 
}

.radio:hover, .hover:active, .hover:focus {
	border:10px solid #18A3C3;
	cursor:pointer;
	-webkit-box-shadow:inset 0px 0px 3px #1F7EC7;
	-moz-box-shadow:inset 0px 0px 3px #1F7EC7;
	-o-box-shadow:inset 0px 0px 3px #1F7EC7;
	-ms-box-shadow:inset 0px 0px 3px #1F7EC7;
	box-shadow:inset 0px 0px 3px #1F7EC7;

	-webkit-box-shadow: 0px 0px 1px #00FFEC;
	-moz-box-shadow: 0px 0px 1px #00FFEC;
	-o-box-shadow: 0px 0px 1px #00FFEC;
	-ms-box-shadow: 0px 0px 1px #00FFEC;
	box-shadow: 0px 0px 1px #00FFEC;
}

#main { text-align:center; }
#main img {
	border:8px solid #555; width:350px; margin:5px; 
	-webkit-box-shadow: 3px 3px 1px #222;
	-moz-box-shadow: 3px 3px 1px #222;
	-o-box-shadow: 3px 3px 1px #222;
	-ms-box-shadow: 3px 3px 1px #222;
	box-shadow: 3px 3px 1px #222;
}

ul { float:left; }
ul li { list-style:none; display:inline-block; padding:5px 15px 5px 2px;  }
ul li span { display:block; }
